body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
.ant-layout-sider-children {
  background: #001529;
} */

/* 
.filter-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.filter-bar > *{
  grid-column: span 1;
}

@media only screen and (max-width: 800px) {
  .filter-bar {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 650px) {
  .filter-bar {
      grid-template-columns: repeat(1, 1fr);
    }
} */